.githubid {

  background-image: url("./images/githublogo.png"); /* add the path to your image file */
  background-size: cover; /* make the image cover the entire link element */
  background-position: center;
}

.linkednid {
  background-image: url("./images/linkednlogo.png"); /* add the path to your image file */
  background-size: cover; /* make the image cover the entire link element */
  background-position: center; /* set the line height to match the height of the link */
}
.facebookid {
  background-image: url("./images/facebooklogo.png"); /* add the path to your image file */
  background-size: cover; /* make the image cover the entire link element */
  background-position: center; /* set the line height to match the height of the link */
}
.facebookid:hover,
.instagramid:hover,
.githubid:hover,
.linkednid:hover {
  opacity: 0.8;
}
.facebookid,
.instagramid,
.githubid,
.linkednid {
  color: #0366d6;
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 5px;
  border-radius: 50%;
  margin: 4px;
}
.instagramid {
  background-image: url("./images/instagramlogo.png"); /* add the path to your image file */
  background-size: cover; /* make the image cover the entire link element */
  background-position: center; /* set the line height to match the height of the link */
}
.githubid .facebookid .linkednid .instagramid :hover {
  opacity: 0.8; /* add a hover effect to reduce opacity */
}
